<form method="POST" enctype="multipart/form-data"  id="studentForm" data-courses-url="{% url 'schoolapp:ajax_load_courses' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">

       <a class="btn btn-primary" href="{% url 'schoolapp:logout' %}" role="button">Logout</a>




</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_department").change(function () {
        const url = $("#studentForm").attr("data-courses-url");
        const departmentId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'department_id': departmentId
            },
            success: function (data) {
                $("#id_course").html(data);
            }
        });

    });
</script>

</body>
</html>